# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PyTorch model weights
plant_disease_model.pth
class_names.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files / System folder
.DS_Store
Thumbs.db
.env
dataset/
backend/dataset/
backend/__pycache__/
frontend/.env
backend/.
backend/PlantVillage-Dataset
backend/TRAINING_GUIDE.md